<div class="contenido">
    <div class="cont1">
       <div class="imagen">
            <img src="10586 1.png" alt="">
       </div>
       <div class="texto">
           <div class="text-1">
               <div class="encabezado">
                   <p>¡Gracias por registrarte!<p>
                </div>
                <div class="Contenido">
                   <p>Por favor revisa tu bandeja de entrada. Acabamos de enviarte un correo electrónico para que confirmes tu cuenta.<p>
                   <br>
                   <p>Revisa tambien la bandeja de SPAM, queremos que trabajes con nosotros.<p>
                </div>
           </div>
       </div>
    </div>
</div>