.contenido{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins';
}
.cont1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 1220px;
}
.imagen img{
    width: 582px;
}
.texto{
    display: flex;
    align-items: center;
    width: 638px;
    justify-content: right;
}
.text-1{
    width: 590px;
    text-align: center;
}
.Contenido p{
    color: #666;
}
.encabezado{
    font-size: 48px;
}
.Contenido{
    font-size: 28px;

}
