<body>
    <div>
        
        
    </div>
    <div class="contenedorTransparente">
        <div class="texto">
            <div>
                <h1>
                    Lorem ipsum es simplemente texto
                </h1>
                <p>
                    Lorem Ipsum es simplemente el texto de relleno de las imprentas y 
                    archivos de texto. Lorem Ipsum ha sido el texto 
                    de relleno estándar de las industrias
                </p>
            </div>
            <div class="form-login">
                <div class="form-login1">
                    <app-entrada-texto placeHolder="Enter your email address"></app-entrada-texto>
                </div>
                <div class="form-login2">
                <app-bt-login buttonText="Sing up" fontColor="white" backgroundColor="black" link="/registro"></app-bt-login>
                </div>
            </div>

        </div>
        
    </div>
    <div>
        
        
    </div>
    <div>
        
        
    </div>
    
</body>
