

button{
    /*
    color: white;
    background-color: black;
    */
    text-align: center;        
    text-decoration: none;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    border-radius: 2vh ;
    width: 60%;
    height: 40px;
    border: none;
    font-weight: 500;
    
    

}