nav{
    background-color: #E3E2E2;
    display: flex;
    justify-content: center; 
    width: 58%;
    border-radius: 2vh;
    height: 100%;
    
   
}
.navBar{
    
    width: 80%;
    text-align: center;
    list-style-type: none;
    padding-left: 0;
    display: flex;
    justify-content: center;
    /*
    gap: 10%;  
   */

    
}
.lista{
    display: inline-block;
    cursor: pointer;
    list-style: none;
    font-family: 'Poppins' , sans-serif ;
    height: 100%;
    width: 100%;
    font-size: 0.9rem;
    color: #666666;
}