<div class="cont">
   <div class="stepper">
    <div class="step completed">
        <div class="step-number">1</div>
        <div class="step-title">Ingrese sus datos</div>
      </div>
      <div class="line"></div>
      <div class="step completed">
        <div class="step-number">2</div>
        <div class="step-title">Verifique sus pasos</div>
      </div>
      <div class="line"></div>
      <div class="step completed">
        <div class="step-number">3</div>
        <div class="step-title">Complete sus pasos</div>
      </div>
   </div>
</div>
