<header>
    <div class="encabezado">
      <div class="encabezado-izquierda">
        <div class="encabezado-circulo"></div>
        <div class="nav-header">
          <app-bt-login buttonText="Home" fontColor="Black" backgroundColor="white" link="/login"></app-bt-login>
          <app-bt-login buttonText="Lorem" fontColor="Black" backgroundColor="white" link="/registro"></app-bt-login>
          <app-bt-login buttonText="Lorem lorem" fontColor="Black" backgroundColor="white" link="/login"></app-bt-login>
          <app-bt-login buttonText="Loremcito" fontColor="Black" backgroundColor="white" link="/registro"></app-bt-login>  
        </div>
      </div>
      
      <div class="encabezado-derecha">
        <span> user name</span>
        <div class="avatar-caja">
          <img alt="avatar" class="avatar">
        </div>
      </div>
  </div>
  </header>
